package layouts

import "github.com/azeek21/blog/views/components"

templ NewArticlePage() {
	@components.BasePage("New article", "Create and share articles from markdown") {
		@components.ArticleForm("", "", "", "", false)
	}
}
