package layouts

import "github.com/azeek21/blog/views/components"

templ SignOutPage() {
	@components.BasePage("Blog - Sign Out", "Azeek's blog * sign out * sign out page") {
		@components.SignOut()
	}
}
