package components

templ AuthFormBase(postUrl string) {
	<div id="auth-form-container" class="max-w-screen-sm w-1/3 border border-inherit rounded-lg m-auto p-4 min-w-[250px]">
		<form
			id="auth-form"
			hx-post={ postUrl }
			hx-trigger="submit"
			hx-swap="none"
			hx-indicator="#auth-form"
			class="flex flex-col gap-4 border-inherit"
		>
			{ children... }
		</form>
	</div>
}
