package components

templ Footer() {
	<footer class="p-2  border-inherit flex items-center justify-center w-full text-sm flex-col gap-2 border-t mt-auto">
		<p>
			Made by
			<a class="text-xl text-blue-400" href="https://askaraliev.uz" target="_blank">Azeek</a>
			with 
			<span class="text-xl">
				&lt;3
			</span> using Golang, HTMX, Tailwind
		</p>
	</footer>
}
