# copy this into a .env file and set up your credetials
# NOTE: some configs are in ./config/**/config.json you can mix them. Use env files for secure things.
# NOTE: use config files in ./config/**/config.json for global values that doesn't need to be secure

# postgres config
PG_USER=
PG_DB=
PG_HOST=
PG_PWD=
PG_PORT=

# admin
ADMIN_USER=
SU_PWD=

PRIVATE_KEY=
